* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  color: #eeeeee;
}

html {
  background-color: rgb(14, 27, 125);
}

.site-header, .site-footer {
  background-color: rgb(14, 27, 125);
}
.site-header {
  display: flex;
}
.site-header a {
  color: #dddddd;
  align-self: center;
  margin-right: 35px;
}
.site-header a:nth-child(2) {
  margin-left: auto;
}

.site-footer {
  display: flex;
  padding: 15px;
  color: #dddddd;
  align-items: center;
}
.site-footer address {
  margin-left: auto;
  margin-right: 35px;
}
.site-footer address a {
  color: #dddddd;
}

.content {
  background: linear-gradient(0deg, rgba(14, 27, 125, 0.6), rgba(14, 27, 125, 0.6)), url(/images/atlanta-georgia-at-night.jpeg);
  background-size: cover;
  min-height: calc(100vh - 220px);
}

.info {
  padding: 45px;
  margin: 0;
  font-size: 60px;
}

.schedule {
  text-align: center;
}
.schedule a {
  color: #dddddd;
  font-size: 35px;
}
