.siteHeader, .siteFooter {
  background-color: white;
}
.siteHeader {
  display: flex;
}
.siteHeader a {
  color: rgb(19, 45, 248);
  align-self: center;
  margin-right: 35px;
}
.siteHeader a:nth-child(2) {
  margin-left: auto;
}

.siteFooter {
  display: flex;
  padding: 15px;
  color: rgb(19, 45, 248);
  align-items: center;
  border-top: 1px solid black;
}
.siteFooter address {
  margin-left: auto;
  margin-right: 35px;
}
.siteFooter address a {
  color: rgb(19, 45, 248);
}

.homePageContent {
  background: url('../assets/images/group-bg-pic.jpg');
  background-size: cover;
  background-position: 0 -100px;
  min-height: calc(100vh - 290px);
  text-shadow: 2px 2px black;
}

@media (max-width: 1200px) {
 .homePageContent {
  background-position: 0;
 }
}


.contactContent {
  text-align: center;
}

.info {
  padding: 45px;
  margin: 0;
  font-size: 3.2vw;
  color: #eee;
}

.schedule {
  text-align: center;
}
.schedule a {
  color: #dddddd;
  font-size: 2.3vw;
}

.siteNavContainer {
  background-color: #183658;
  color: white;
}

.siteNav {
  display: flex;
  margin: 0;
}

.siteNavLink {
  list-style-type: none;
  margin-right: 50px;
}

.siteNavLink a {
  text-decoration: none;
  padding: 25px 5px 25px 5px;
  display: block;
  transition-duration: .4s;
}

.siteNavLink a:hover {
  background-color: white;
  color: #183658;
}

.teamList {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    "image name"
    "image bio"
    "image link";
  margin-bottom: 20px;
  grid-template-rows: 0fr 1fr 1fr;
  align-items: center;
  gap: 0 25px;
}

.teamListImage {
  grid-area: image;
  align-self: start;
}

.teamListHeader {
  grid-area: name;
  margin: 0;
  margin-bottom: 5px;
}

.teamListBio {
  grid-area: bio;
  margin: 0;
}

.teamListLink {
  grid-area: link;
}

.teamList {
  list-style-type: none;
}

.bioContents {
  margin-left: 50px;
  margin-right: 50px;
}

.pageTitle {
  text-align: center;
  text-shadow: 1px 1px #444;
  background-color: #265a94;
  margin-top: 0;
  padding: 20px 0 20px 0;
  color: #D2602D;
}
