.siteHeader, .siteFooter {
  background-color: white;
}
.siteHeader {
  display: flex;
}
.siteHeader a {
  color: rgb(19, 45, 248);
  align-self: center;
  margin-right: 35px;
}
.siteHeader a:nth-child(2) {
  margin-left: auto;
}

.siteFooter {
  display: flex;
  padding: 15px;
  color: rgb(19, 45, 248);
  align-items: center;
  border-top: 1px solid black;
}
.siteFooter address {
  margin-left: auto;
  margin-right: 35px;
}
.siteFooter address a {
  color: rgb(19, 45, 248);
}

.homePageContent {
  background: url('../assets/images/group-bg-pic.webp');
  background-size: cover;
  background-position: 0 -100px;
  min-height: calc(100vh - 290px);
  text-shadow: 2px 2px black;
}

.contactContent {
  text-align: center;
}

.info {
  text-align: center;
  padding: 45px 5px 25px 5px;
  margin: 0;
  font-size: 3.2vw;
  color: #eee;
}

.schedule {
  text-align: center;
}

.schedule a {
  color: #dddddd;
  font-size: 2.3vw;
}

@media (max-width: 1200px) {
  .homePageContent {
    background-position: 0;
  }

  .info {
    padding: 25px 5px 25px 5px;
    font-size: 5vw;
  }

  .schedule a {
    font-size: 4vw;
  }
}

@media (max-width: 800px) {
  .homePageContent {
    background-position: -120px 0;
  }
}

.siteNavContainer {
  background-color: #183658;
  color: white;
}

.siteNav {
  display: flex;
  margin: 0;
}

.siteNavLink {
  list-style-type: none;
  margin-right: 50px;
}

.siteNavLink a {
  text-decoration: none;
  padding: 25px 5px 25px 5px;
  display: block;
  transition-duration: .4s;
}

.siteNavLink a:hover {
  background-color: white;
  color: #183658;
}

.teamList {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    "image name"
    "image bio"
    "image link";
  margin-bottom: 20px;
  grid-template-rows: 0fr 1fr 1fr;
  align-items: center;
  gap: 0 25px;
}


.teamListImage {
  grid-area: image;
  align-self: start;
}

.teamListHeader {
  grid-area: name;
  margin: 0;
  margin-bottom: 5px;
}

.teamListBio {
  grid-area: bio;
  margin: 0;
  height: auto;
}

.teamListLink {
  grid-area: link;
}

.teamList {
  list-style-type: none;
}

.bioContents, .practiceContents, .blogContents {
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
}

.bioContents h2 {
  font-weight: normal;
}

.pageTitle {
  text-align: center;
  text-shadow: 1px 1px #444;
  background-color: #265a94;
  margin-top: 0;
  padding: 20px 0 20px 0;
  color: #D2602D;
}

@media screen and (max-width: 450px) {
  .teamListContainer {
    margin-right: 1em;
  }

  .teamList {
    grid-template-areas:
      "image"
      "name"
      "bio"
      "link";
    grid-template-rows: 1fr 0fr 1fr 0fr;
    margin-bottom: 50px;
  }

  .teamListHeader {
    margin-top: 5px;
  }

  .teamListImage {
    text-align: center;
  }
}

.practiceContents a, .blogContents a {
  text-decoration: underline;
  color: rgb(19, 45, 248);
}
